{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Produktanbietervertriebsangaben API",
    "description" : "Diese Schnittstelle erlaubt das Aktualisieren von Produktanbietervertriebsangaben an Vorgängen auf der Europace Plattform.",
    "termsOfService" : "https://docs.api.europace.de/nutzungsbedingungen/",
    "contact" : {
      "name" : "Europace AG",
      "url" : "http://developer.europace.de",
      "email" : "devsupport@europace2.de"
    },
    "version" : "1.1.4; 0d20e5be303fd008b8761055cbade115cb41dbe4"
  },
  "servers" : [ {
    "url" : "https://baufinanzierung.api.europace.de",
    "description" : "Produktionsserver"
  } ],
  "tags" : [ {
    "name" : "Produktanbietervertrieb",
    "description" : "Produktanbietervertriebsangaben an einem existierenden Vorgang aktualisieren"
  } ],
  "paths" : {
    "/produktanbieter-vertrieb/{vorgangsnummer}" : {
      "post" : {
        "tags" : [ "Produktanbietervertrieb" ],
        "summary" : "Produktanbietervertriebsangaben an einem existierenden Vorgang aktualisieren",
        "description" : "Produktanbietervertriebsangaben werden in BaufiSmart an einem existierenden Vorgang aktualisiert. Der Scope `baufinanzierung:echtgeschaeft`wird benötigt, wenn der Datenkontext `ECHT_GESCHAEFT` gewählt wird.",
        "operationId" : "updateProduktanbieterVertriebsAngaben",
        "parameters" : [ {
          "name" : "vorgangsnummer",
          "in" : "path",
          "description" : "Nummer des Vorgangs, dessen Daten aktualisiert werden",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "UT5MDV"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "TraceId",
          "in" : "header",
          "description" : "Eine eindeutige technische Id zur Identifikation des Requests",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;version=1.0" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "404" : {
            "description" : "Der Vorgang existiert nicht"
          },
          "401" : {
            "description" : "Die Authentifizierung ist fehlgeschlagen"
          },
          "403" : {
            "description" : "Es fehlt die Berechtigung, um die Anfrage auszuführen",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          },
          "503" : {
            "description" : "Der Service kann den Request momentan nicht verarbeiten",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          },
          "200" : {
            "description" : "Produktanbietervertriebsangaben in existierenden Vorgang importiert"
          },
          "400" : {
            "description" : "Der Request hat ein fehlerhaftes Format oder der Datentyp eines Felds weicht von der Spezifikation ab.",
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestProblem"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:vorgang:schreiben", "baufinanzierung:echtgeschaeft" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AllgemeineVerbundweiterleitungAngaben" : {
        "type" : "object",
        "properties" : {
          "provision" : {
            "$ref" : "#/components/schemas/VerbundweiterleitungProvision"
          },
          "reservierung" : {
            "$ref" : "#/components/schemas/VerbundweiterleitungReservierung"
          },
          "untervermittler" : {
            "$ref" : "#/components/schemas/VerbundweiterleitungUntervermittler"
          }
        },
        "description" : "Allgemeine Verbundweiterleitungs-Angaben zu einem Vorgang, die für alle Verbundpartner gelten"
      },
      "KonditionsAngaben" : {
        "type" : "object",
        "properties" : {
          "olb" : {
            "$ref" : "#/components/schemas/OlbKonditionsAngaben"
          }
        },
        "description" : "Produktanbietervertriebsspezifische Konditionsangaben zu einem Vorgang"
      },
      "OlbKonditionsAngaben" : {
        "type" : "object",
        "properties" : {
          "abschlaege" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "description" : "Für den Kunden anzuwendende Konditionsabschläge.",
              "enum" : [ "NEUKUNDE", "MITARBEITER" ]
            }
          }
        },
        "description" : "OLB-spezifische Konditionsangaben"
      },
      "OlbScoring" : {
        "type" : "object",
        "properties" : {
          "bonitaetsklasse" : {
            "type" : "string",
            "description" : "OLB-Bonitätsklasse der Gesamtheit der Antragsteller eines Vorgangs",
            "example" : "KLASSE_8",
            "enum" : [ "KLASSE_1", "KLASSE_2", "KLASSE_3", "KLASSE_4", "KLASSE_5", "KLASSE_6", "KLASSE_7", "KLASSE_8", "KLASSE_9", "KLASSE_10", "KLASSE_11", "KLASSE_12", "KLASSE_13", "KLASSE_14", "KLASSE_15", "KLASSE_16" ]
          }
        },
        "description" : "OLB-spezifisches Scoring"
      },
      "ScoringAngaben" : {
        "type" : "object",
        "properties" : {
          "olb" : {
            "$ref" : "#/components/schemas/OlbScoring"
          }
        },
        "description" : "Produktanbietervertriebsspezifische Scoringangaben zu einem Vorgang"
      },
      "UpdateRequest" : {
        "required" : [ "scoring" ],
        "type" : "object",
        "properties" : {
          "scoring" : {
            "$ref" : "#/components/schemas/ScoringAngaben"
          },
          "kondition" : {
            "$ref" : "#/components/schemas/KonditionsAngaben"
          },
          "verbundweiterleitung" : {
            "$ref" : "#/components/schemas/VerbundweiterleitungAngaben"
          }
        }
      },
      "VerbundweiterleitungAngaben" : {
        "type" : "object",
        "properties" : {
          "allgemein" : {
            "$ref" : "#/components/schemas/AllgemeineVerbundweiterleitungAngaben"
          }
        },
        "description" : "Produktanbietervertriebsspezifische Verbundweiterleitungs-Angaben zu einem Vorgang"
      },
      "VerbundweiterleitungProvision" : {
        "type" : "object",
        "properties" : {
          "kundenbetreuerProvision" : {
            "type" : "number",
            "description" : "Provisionsanteil in Euro des Kundenbetreuers des weitergeleiteten Antrags an der Vertriebsprovision des Verbunddarlehens",
            "format" : "double"
          },
          "vertriebsProvisionGesamt" : {
            "type" : "number",
            "description" : "Gesamte Vertriebsprovision des Verbunddarlehens im weitergeleiteten Antrag",
            "format" : "double"
          }
        },
        "description" : "Angaben zur Provision aus dem weitergeleiteten Antrag"
      },
      "VerbundweiterleitungReservierung" : {
        "required" : [ "einstandsdatum" ],
        "type" : "object",
        "properties" : {
          "einstandsdatum" : {
            "type" : "string",
            "description" : "Einstandsdatum und -zeit der reservierten Kondition im ISO-Date-Time-Format",
            "format" : "date-time"
          }
        },
        "description" : "Angaben zur Konditions-Reservierung der Verbundweiterleitung"
      },
      "VerbundweiterleitungUntervermittler" : {
        "required" : [ "partnerId" ],
        "type" : "object",
        "properties" : {
          "partnerId" : {
            "type" : "string"
          },
          "firmierung" : {
            "type" : "string"
          },
          "vorname" : {
            "type" : "string"
          },
          "nachname" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "vertriebsOrganisation" : {
            "type" : "string"
          },
          "anschrift" : {
            "$ref" : "#/components/schemas/VerbundweiterleitungUntervermittlerAnschrift"
          }
        },
        "description" : "Daten des ursprünglichen Vermittlers, der in der Verbundweiterleitung als Untervermittler agiert.",
        "example" : "ABC12"
      },
      "VerbundweiterleitungUntervermittlerAnschrift" : {
        "type" : "object",
        "properties" : {
          "strasse" : {
            "type" : "string"
          },
          "hausnummer" : {
            "type" : "string"
          },
          "plz" : {
            "type" : "string"
          },
          "ort" : {
            "type" : "string"
          }
        },
        "description" : "Anschrift eines Untervermittlers"
      },
      "Problem" : {
        "required" : [ "status", "title", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Eine absolute URI, die den Problemtyp eindeutig identifiziert.",
            "format" : "uri",
            "example" : "https://api.europace.de/produktanbieter-vertrieb/problem/constraint-violation"
          },
          "title" : {
            "type" : "string",
            "description" : "Eine kurze Zusammenfassung des Problemtyps.",
            "example" : "Ressource unbekannt"
          },
          "status" : {
            "maximum" : 600,
            "exclusiveMaximum" : true,
            "minimum" : 100,
            "type" : "number",
            "description" : "Der HTTP Statuscode des Services, bei dem das Problem ursprünglich aufgetreten ist.",
            "example" : 503
          },
          "detail" : {
            "type" : "string",
            "description" : "Ein menschenlesbarer Text, der das konkrete Problem beschreibt.",
            "example" : "Die Anfrage kann aufgrund fehlender Informationen nicht verarbeitet werden."
          },
          "instance" : {
            "type" : "string",
            "description" : "Eine relative URI, die das Problem verursacht hat. ",
            "format" : "uri",
            "example" : "/produktanbieter-vertrieb"
          }
        }
      },
      "BadRequestProblem" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Problem"
        }, {
          "type" : "object",
          "properties" : {
            "violations" : {
              "$ref" : "#/components/schemas/BadRequestProblem_violations"
            }
          }
        } ]
      },
      "BadRequestProblem_violations" : {
        "required" : [ "field" ],
        "type" : "object",
        "properties" : {
          "field" : {
            "type" : "string",
            "description" : "Das Feld, welches einen ungültigen Wert beinhaltet"
          },
          "message" : {
            "type" : "string",
            "description" : "Eine genauere Beschreibung des Fehlers"
          }
        }
      }
    },
    "responses" : {
      "BadRequest" : {
        "description" : "Der Request hat ein fehlerhaftes Format oder der Datentyp eines Felds weicht von der Spezifikation ab.",
        "content" : {
          "application/problem+json" : {
            "schema" : {
              "$ref" : "#/components/schemas/BadRequestProblem"
            }
          }
        }
      },
      "Forbidden" : {
        "description" : "Es fehlt die Berechtigung, um die Anfrage auszuführen",
        "content" : {
          "application/problem+json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Problem"
            }
          }
        }
      },
      "ServiceNotAvailable" : {
        "description" : "Der Service kann den Request momentan nicht verarbeiten",
        "content" : {
          "application/problem+json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Problem"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oAuth2" : {
        "type" : "oauth2",
        "flows" : {
          "clientCredentials" : {
            "tokenUrl" : "https://api.europace.de/auth/access-token",
            "scopes" : {
              "baufinanzierung:vorgang:schreiben" : "Aktualisieren eines Vorgangs",
              "baufinanzierung:echtgeschaeft" : "Aktualisieren eines Vorgangs im Echtgeschäft"
            }
          }
        }
      }
    }
  }
}